@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

#menu-page {
  position: relative;
  z-index: 5;
  background-color: #f6f6f6;
}

body, html, button, a, p {
  font-family: "Roboto";
}

#menu-page h1 {
  font-family: "Shrikhand";
  font-size: 25px;
}

#menu-page h2 {
  font-weight: 400;
}

.cta-btn {
  padding: 1em;
  border-radius: 1000px;
  border: none;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  font-weight: 500;
  box-shadow: 0px 4px 8px -1px lightgray;
  cursor: pointer;
  color: #ffffff;
}
.cta-btn a {
  color: white;
}

header {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 5;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 2px -2px lightgray;
}
header img {
  height: 30px;
}
header a {
  color: #000000;
}

footer {
  background-color: #353535;
  padding: 25px;
  color: white;
  line-height: 25px;
}
footer h3 {
  font-size: 20px;
  font-family: "Shrikhand", cursive;
  margin: 5px 0;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer a {
  color: white;
}
footer i {
  font-size: 12px;
  width: 20px;
}

#localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  padding: 1em;
}
#localisation i, #localisation span {
  margin: 0 5px;
}

#explore {
  background-color: #f6f6f6;
  padding: 40px 1em 0 1em;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#explore h1 {
  margin: 20px 20px 5px 20px;
}
#explore p {
  color: grey;
}
#explore button {
  width: 200px;
  margin-top: 20px;
  color: #ffffff;
}
#explore button a {
  width: 100%;
}

#steps {
  padding: 40px 1em 0 1em;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
#steps .step__container {
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  box-sizing: border-box;
  padding: 25px;
  align-items: center;
  text-align: left;
  margin: 10px 0px;
  box-shadow: 0px 4px 8px -1px lightgray;
  border-radius: 15px;
}
#steps .step__container:hover {
  background-color: #f2eafb;
}
#steps .step__container .container__number {
  position: absolute;
  top: 25px;
  left: -10px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 14px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#steps .step__container i {
  width: 10%;
}

#restaurants {
  background-color: #f6f6f6;
  padding: 40px 1em 0 1em;
}
#restaurants #restaurants__list {
  display: flex;
  flex-direction: column;
}
#restaurants .restaurant__card {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 8px -1px lightgray;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
#restaurants .restaurant__card a {
  color: #000000;
}
#restaurants .restaurant__card img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 15px;
}
#restaurants .restaurant__card .new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 65%;
  top: 5%;
  width: 30%;
  height: 30px;
  background-color: #99E2D0;
  color: #278870;
  z-index: 3;
  padding: 2px;
}
#restaurants .restaurant__card .card__banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 15px 15px;
  box-sizing: border-box;
  padding: 15px;
}
#restaurants .restaurant__card .card__text h3 {
  margin: 5px 0px;
}
#restaurants .restaurant__card .card__text span {
  color: grey;
  font-size: medium;
}
#restaurants .restaurant__card i {
  font-size: 25px;
  cursor: pointer;
}

header a {
  position: absolute;
  left: 5%;
}

#image-banner {
  height: 250px;
  position: relative;
}
#image-banner img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
}

#menu-listing {
  width: 100%;
  padding: 40px 1em 0 1em;
  box-sizing: border-box;
  background-color: #f6f6f6;
  position: relative;
  top: -50px;
  border-radius: 30px 30px 0 0;
}
#menu-listing #menu__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu-listing #menu__title h1 {
  margin: 0;
}
#menu-listing #menu__title i {
  font-size: 25px;
  cursor: pointer;
}

#dishes__cat section {
  margin: 30px 0px;
}
#dishes__cat h2 {
  text-transform: uppercase;
}
#dishes__cat h2 span {
  border-bottom: #99E2D0 solid 5px;
}
#dishes__cat .dishes__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#dishes__cat #deserts__list {
  margin-bottom: 0;
}

.dishes__list article {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px -1px lightgray;
  border-radius: 15px;
  cursor: pointer;
}
.dishes__list article .dish__info h3 {
  margin: 0;
}
.dishes__list article .dish__info span {
  font-size: 15px;
  color: gray;
}

#order-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#order-section button {
  width: 155px;
}

/*# sourceMappingURL=style.css.map */
