.cta-btn {
    padding: 1em;
    border-radius: 1000px;
    border: none;
    background: linear-gradient(175deg, $pink, $purple);
    font-weight: 500;
    @include standard-shadown;
    cursor: pointer;
    color: #ffffff;

    a {     color: white;}

    &:hover { background: linear-gradient(175deg, lighten($pink, 5), lighten($purple, 5))}
}