@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body, html, button, a, p { font-family: 'Roboto';}

#menu-page h1 { font-family: 'Shrikhand'; font-size: 25px}
#menu-page h2 { font-weight: 400;}