#localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    @include global-padding;

    i, span { margin: 0 5px }
}

#explore{
    background-color: $light-bkg;
    @include global-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 { margin: 20px 20px 5px 20px;}
    p { color: grey}

    button { 
        width: 200px;
        margin: 20px 0px 30px 0px;
        a { width: 100%;}
    }
}


#steps {
    @include global-padding;
    display: flex;
    flex-direction: column;

    .step__container {
        position: relative;
        width: 100%;
        background-color: $light-bkg;
        @include component-alignement;
        text-align: left;
        margin: 10px 0px;
        @include standard-shadown;
        @include standard-borders;

        &--highlight { background-color: lighten($purple, 35%);}

        .container__number {
            position: absolute;
            top: 25px;
            left: -10px;
            background-color: $purple;
            width: 25px;
            height: 25px;
            color: white;
            font-size: 14px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;    
        }
        i { width: 10%;}
    }
}


#restaurants { 
    background-color: $light-bkg;
    @include global-padding;
}