#localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    padding: 1em;

    i, span { margin: 0 5px }
}

#explore{
    background-color: $light-bkg;
    @include global-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 { margin: 20px 20px 5px 20px;}
    p { color: grey}

    button { 
        width: 200px;
        margin-top: 20px;
        a { width: 100%;}
    }
}


#steps {
    @include global-padding;
    display: flex;
    flex-direction: column;

    .step__container {
        position: relative;
        width: 100%;
        background-color: $light-bkg;
        @include component-alignement;
        text-align: left;
        margin: 10px 0px;
        @include standard-shadown;
        @include standard-borders;

        &:hover { background-color: lighten($purple, 35%); }

        .container__number {
            position: absolute;
            top: 25px;
            left: -10px;
            background-color: $purple;
            width: 25px;
            height: 25px;
            color: white;
            font-size: 14px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;    
        }
        i { width: 10%;}
    }
}


#restaurants { 
    background-color: $light-bkg;
    @include global-padding;

    #restaurants__list {
        display: flex;
        flex-direction: column;
    }

    .restaurant__card {
        position: relative;
        width: 100%;
        height: 250px;
        background-color: white;
        @include standard-borders;
        @include standard-shadown;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        a { color: #000000;}

        img { position: absolute; top: 0; width: 100%; height: 90%; object-fit: cover; @include standard-borders;}
        .new { 
            @include flex-center;
            position: absolute; 
            left: 65%; top: 5%; 
            width: 30%; 
            height: 30px; 
            background-color: $mint;
            color: darken($mint, 40%); 
            z-index: 3; 
            padding: 2px;
        }

        .card__banner { 
            display: flex; 
            flex-direction: row; 
            align-items: center;
            justify-content: space-between;
            height: 75px; 
            width: 100%; 
            position: absolute; 
            bottom: 0; 
            background-color: white; 
            border-radius: 0 0 15px 15px;
            box-sizing: border-box;
            padding: 15px;
        }

        .card__text  {
            h3 { margin: 5px 0px}
            span { color: grey; font-size: medium;}
        }

        i { font-size: 25px; cursor: pointer;}
    }

}