//ICONS FAVORIS 
.block__icons { 
    height:25px; 
    width: 25px;

    i { position: absolute;  font-size: 25px; cursor: pointer;}

    .fas {  opacity: 0;  transition: opacity 0.2s;}
    .far { z-index: 2; transition: opacity 0.1s;}
    .far:active {
        opacity: 0;
        +.fas {
            opacity: 1;
        background: -webkit-linear-gradient(65deg, $pink, $purple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    }
}



//SPINNER




//MENUS

.dishes__list {
    article { animation:menu-slide ease-out 1s;  opacity: 0;animation-fill-mode: forwards}
}

@keyframes menu-slide {
    0% {
        transform: translateY(20px);
    }

    80% {
        opacity: 1;
    }

    100% { 
        transform:translateY(0);
        opacity: 1;
    }
}

.dishes__list .delay1 { animation-delay: 0.25s;}
.dishes__list .delay2 { animation-delay: 0.5s;}
.dishes__list .delay3 { animation-delay: .75s;}



//AJOUT DE PLATS
.dish {
    overflow: hidden;
    &__selection { 
        background-color: $mint; 
        height: 100%; 
        width: 0px; 
        overflow: hidden;
        @include flex-center; 
        transition: width 1s;

        i { color: #ffff}
    }
}

.dish:hover {
    .dish__selection {
    width: 90px;
    }

}
