//ICONS FAVORIS - A TRANSFORMER EN KEYFRAMES
.block__icons { 
    height:25px; 
    width: 25px;

    i { position: absolute;  font-size: 25px; cursor: pointer;}

    .fas {  opacity: 0;  transition: opacity 0.2s;}
    .far { z-index: 2; transition: opacity 0.1s;}
    .far:active {
        opacity: 0;
        +.fas {
            opacity: 1;
        background: -webkit-linear-gradient(65deg, $pink, $purple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    }
}

.dishes__list {
    article { animation:menu-slide ease 1s}
}


//SPINNER




//MENUS
@keyframes menu-slide {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% { 
        transform:translateY(0);
        opacity: 1;
    }
}



//AJOUT DE PLATS