//ICONS FAVORIS 
.block__icons { 
    height:25px; 
    width: 25px;

    i { position: absolute;  font-size: 25px; cursor: pointer;}

    .fas {  opacity: 0;  transition: opacity 0.2s;}
    .far { z-index: 2; transition: opacity 0.1s;}
    .far:active {
        opacity: 0;
        +.fas {
            opacity: 1;
        background: -webkit-linear-gradient(65deg, $pink, $purple);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    }
}



//SPINNER
#loading__container { 
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    z-index:5;
    background-color: $light-bkg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: loading 4s ease-out;
    animation-fill-mode: forwards;

    span {
        font-size: 25px;
        font-family: 'Shrikhand', cursive;
        text-transform: lowercase;
        font-style: italic;
        text-align: center;
        color: darken($light-bkg, 5%);
    }
}

.loading {
    display: flex;
    justify-content: center;
  
    div {
      width: 10px;
      height: 10px;
      margin: 10px;
      background: linear-gradient(170deg, $pink, 50%, $purple);
      border-radius: 50%;
      animation: 0.35s bounce infinite alternate;
  
      &:nth-child(2) {
        animation-delay: 0.1s;
      }
  
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
    }
  }
  
  @keyframes bounce {
    to {
      opacity: 0.3;
      transform: translate3d(0, -1rem, 0);
    }
  }


  @keyframes loading {
      0% {
        opacity: 1;
      }

      95% {
          opacity: 1;
          z-index: 5
      }

      100% {
        opacity: 0;
        z-index: -1;
        animation: bounce paused;
      }

  } 



//MENUS

.dishes__list {
    article { 
        animation:menu-slide ease-out 0.8s;  
        opacity: 0;
        animation-fill-mode: forwards
    }

}

@keyframes menu-slide {
    0% {
        transform: translateY(20px);
    }

    80% {
        opacity: 1;
    }

    100% { 
        transform:translateY(0);
        opacity: 1;
    }
}



.dishes__list .delay1 { animation-delay: 0.25s;}
.dishes__list .delay2 { animation-delay: 0.5s;}
.dishes__list .delay3 { animation-delay: .75s;}



//AJOUT DE PLATS
.dish {
    overflow: hidden;
    &__selection { 
        background-color: $mint; 
        height: 100%; 
        width: 0px; 
        overflow: hidden;
        @include flex-center; 
        transition: width 0.8s;

        i {color: #ffffff; transition: transform 0.5s ease-out;}
        
    }
}

.dish:hover {
    .dish__selection {
    width: 90px;
    i {transform: rotate(360deg);}
    }

}
